# Class - 3 Quck Re-cap

## Data types in Python
- Boolean bool : True/False (Case Sensitive)
- Integer int : 6,-5,0
- Float float : 4.5,-5.6
- String string : "I am a Data Scientist"
- Time : Date/Time Type How? 2nd class it was defined as an object

### Order of conversion
bool -> int -> float -> string

In [4]:
a = 3
print(a)

3

In [5]:
type(a)

int

In [6]:
type(4.2)

float

In [8]:
type(True)

bool

In [13]:
type('s')

str

In [17]:
type([2008,9,21])

list

# Datetime Library

In [1]:
import datetime as dt

In [2]:
a = dt.datetime.today()
print(a)
b = dt.date.today()
print(b)
c = 7
print(c)

2019-11-25 13:45:19.366991
2019-11-25
7

In [3]:
from datetime import datetime, date, time

In [4]:
datetime.now()

datetime.datetime(2019, 11, 25, 13, 45, 20, 894589)

In [5]:
date.today()

datetime.date(2019, 11, 25)

In [6]:
my_bday = date(1995,12,21)

In [7]:
print(my_bday)

1995-12-21

In [8]:
type(my_bday)

datetime.date

In [9]:
age = date.today() - my_bday
print(age)
type(age)

8740 days, 0:00:00

datetime.timedelta

In [12]:
age_inyears = age / dt.timedelta(days=365)
print(age_inyears)

23.945205479452056

In [73]:
int(True)

1

In [75]:
int(bool(-18))

1

## Order of Conversion
### bool -> int -> float -> string

In [79]:
2 +"Datamites"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [80]:
2 * "Datamites"

'DatamitesDatamites'

In [81]:
"Sankar" + "V S"

'SankarV S'

In [82]:
text = 'I am Data Scientist'

In [93]:
print(text)

I am Data Scientist

In [89]:
text[5]

'D'

In [92]:
len(text)

19

## Slicing Character  ":" , [ ]

In [102]:
text[5:10:1] # [ Start, End-1, Step]

'Data '

In [101]:
text[5:12:3]

'Dac'

In [103]:
text[5:]

'Data Scientist'

In [109]:
text[5::1]

'Data Scientist'

In [107]:
text[5: :2]

'Dt cets'

In [111]:
text[5:-1]

'Data Scientis'

# Math Operators

In [112]:
print(10+4) #Add
print(10-4) #Sub
print(10*4) #Mult
print(10/4) #Div
print(10%4) #Mod
print(10**4) #Exp

14
6
40
2.5
2
10000

# Logical/Comparison Operators
- Output is always boolean

In [116]:
print(5<3)
print(5>3)
print(5!=5)
print(5==5)
print(5<=3)
print(5>=3)

False
True
False
True
False
True

In [117]:
print(5>3 and 5<3)
print(5>3 or 5<3)

False
True

In [118]:
True != 0

True

# Conditional Statements

In [123]:
x=0
if (x>0):
    print(" This is a postive number")
elif(x==0):
    print("Zero")
else:
    print("This is a negative number")

Zero

In [129]:
x=10
if(x%2 == 0):
    print("Multiple of 2")
else:
    print("Not a multiple of 2")

Multiple of 2

In [131]:
x=12
if(x>0 and (x%2 == 0)):
    print("Divisible by 2")
else:
    print("Not Divisible by 2")

Divisible by 2

## Find the greatest of two numbers
## Find the greatest of three numbers

In [14]:
x=100
y=80
if (x>y):
    print(x,"is the greatest")
else:
    print(y+"is the greatest")

100 is the greatest

In [11]:
x=50
y=80
z=80
if(x!=y and x!=z):
    if (x>y and x>z):
        print(str(x)+" is the greatest")
    elif(y>x and y>z):
        print(str(y)+" is the greatest")
    else:
        print(str(z)+" is the greatest")
elif(x == y):
    if (x>z):
        print(str(x)+" is the greatest")
    else:
        print(str(z)+" is the greatest")
else:
    if (x>y):
        print(str(x)+" is the greatest")
    else:
        print(str(y)+" is the greatest")

80 is the greatest