Class-4


# Lists
- It is a heterogeneous and flexible data structure.
- Python list are very flexible and can hold competely heterogeneous arbitrary data and they can be appended very efficiently.
- A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [1]:
a = [3,4.5,True,"Datamites"]
a[3]

'Datamites'

In [3]:
type(a)

list

In [4]:
my_fam = ['dad','mom','bro','me']
print(my_fam)

['dad', 'mom', 'bro', 'me']

In [6]:
my_fam.append('syster')

In [7]:
print(my_fam)

['dad', 'mom', 'bro', 'me', 'syster']

In [9]:
my_fam.extend(["wife","grandpa"])
print(my_fam)

['dad', 'mom', 'bro', 'me', 'syster', 'wife', 'grandpa']

In [13]:
my_fam.remove('bro')
print(my_fam)

['dad', 'mom', 'me', 'syster', 'grandpa']

In [18]:
print(my_fam)

['dad', 'mom', 'me', 'syster']

In [19]:
my_fam.append("wife")

In [20]:
my_fam.sort(reverse=True)
my_fam

['wife', 'syster', 'mom', 'me', 'dad']

In [21]:
my_fam.count('me')

1

In [22]:
my_fam[0:5:2]

['wife', 'mom', 'dad']

In [5]:
st=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [6]:
len(st)

6

In [7]:
type(st)

list

In [9]:
#.append is used to add elements in the list
st.append("Shanks")
st

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Shanks', 'Shanks']

In [11]:
st.pop()

'Shanks'

In [12]:
st

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Shanks']

In [14]:
st.append(["John","Bala"])

In [16]:
# Above given code results in a nested list as shown below
st

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Shanks', ['John', 'Bala']]

In [17]:
st[1:6]

['chemistry', 100, 200, 300, 204]

In [19]:
st.insert(2,"English")
st

['Mathematics',
 'chemistry',
 'English',
 'English',
 100,
 200,
 300,
 204,
 'Shanks',
 ['John', 'Bala']]

In [20]:
# To make sure to append two or more datas to a list without resulting in a nested list we use extend function
st.extend([8,9])
st

['Mathematics',
 'chemistry',
 'English',
 'English',
 100,
 200,
 300,
 204,
 'Shanks',
 ['John', 'Bala'],
 8,
 9]

In [21]:
#Operators can also be used in list
st*5

['Mathematics',
 'chemistry',
 'English',
 'English',
 100,
 200,
 300,
 204,
 'Shanks',
 ['John', 'Bala'],
 8,
 9,
 'Mathematics',
 'chemistry',
 'English',
 'English',
 100,
 200,
 300,
 204,
 'Shanks',
 ['John', 'Bala'],
 8,
 9,
 'Mathematics',
 'chemistry',
 'English',
 'English',
 100,
 200,
 300,
 204,
 'Shanks',
 ['John', 'Bala'],
 8,
 9,
 'Mathematics',
 'chemistry',
 'English',
 'English',
 100,
 200,
 300,
 204,
 'Shanks',
 ['John', 'Bala'],
 8,
 9,
 'Mathematics',
 'chemistry',
 'English',
 'English',
 100,
 200,
 300,
 204,
 'Shanks',
 ['John', 'Bala'],
 8,
 9]

# Tuple
- Tuple is immutable Ex: Call log, Login
- Put it in normal paranthesis

In [51]:
a = (3,4.5,"Hello")

In [52]:
print(a)

(3, 4.5, 'Hello')

In [53]:
type(a)

tuple

In [55]:
a[2]

'Hello'

In [56]:
a.index(3)

0

# Dictionary 
- Python dictionary is an unordered collection of items. 
- It has key:value pair
- In Python dictionaries are written with curly brackets, and they have keys and values.

In [31]:
dic={}

In [32]:
type(dic)

dict

In [34]:
set2={1,2,3,4,5}

In [36]:
type(set2)

set

In [38]:
## Let create a dictionary

my_dict={'Car1': "Audi", 'Car2':"BMW",'Car3':"Mercidies Benz"}

In [3]:
b = dict(name = 'Sankar', Age = 24)

In [36]:
print(b)

{'name': 'Sankar', 'Age': 24}

In [40]:
b['name']

'Sankar'

In [40]:
a = dict(name = 'Sankar', Age = 24, Job = "Data Scientist", Company = "Google", Salary = 1000)

In [41]:
a['name']

'Sankar'

In [43]:
# We can even loop throught the dictionaries keys
for x in a:
    print(x)

name
Age
Job
Company
Salary

In [45]:
# We can even loop throught the dictionaries values
for x in a.values():
    print(x)

Sankar
24
Data Scientist
Google
1000

In [46]:
# We can also check both keys and values
for x in a.items():
    print(x)

('name', 'Sankar')
('Age', 24)
('Job', 'Data Scientist')
('Company', 'Google')
('Salary', 1000)

In [47]:
# Nested Disctionary
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [48]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [49]:
print(car_type['car1'])
print(car_type['car1']['Mercedes'])

{'Mercedes': 1960}
1960

# Sets
- A set contains an unordered collection of unique, immutable objects and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table.

In [28]:
## Defining an empy set

set1= set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [30]:
set1={1,2,3,4,3}
set1

{1, 2, 3, 4}

In [25]:
lang = {'Java', "C", "Python"}
snakes = {'Anaconda', 'Cobra', 'Python'}

In [26]:
lang.union(snakes)

{'Anaconda', 'C', 'Cobra', 'Java', 'Python'}

In [27]:
lang.intersection(snakes)

{'Python'}

# Creating a Function

In [53]:
# BMI = W(Kg)/h/(m**2)
def bmi(w,h):
    bmi=w/(h**2)
    print("Your BMI: ",bmi)

In [57]:
bmi(70,1.69)

Your BMI:  24.508945765204302

In [64]:
# Create a function for area of a triangle, Circle and square

In [58]:
def area_triangle(b,h):
    area=0.5*b*h
    print("Area of Triangle: ",area)

In [60]:
area_triangle(5,6)

Area of Triangle:  15.0

In [61]:
def area_square(l):
    area=l*l
    print("Area of Square: ",area)

In [62]:
area_triangle(5,6)

Area of Triangle:  15.0

In [63]:
area_square(5)

Area of Square:  25

In [72]:
pi = 3.14159265359
def area_circle(r):
    area=pi*(r**2)
    print("Area of Circle: ",area)

In [73]:
area_circle(3)

Area of Circle:  28.27433388231

# For Loop

In [74]:
fruits = ['Guava','Cherry','Mango','Apple']

In [75]:
type(fruits)

list

In [76]:
for f in fruits:
    print(f)

Guava
Cherry
Mango
Apple

In [79]:
for f in fruits:
    if(f=="Cherry"):
        print("Hi Cherry")
        continue
    print(f)

Guava
Hi Cherry
Mango
Apple

# Q1: Calculate area of cylinder 2*pi*r*h+2pi*r**2
# Q2: Area of trapezoid 1/2(a+b)h
# Q3: Volume of a sphere 4/3 pi r**3
# Q4: (a+b)**3 = a**3 + b**3 + 3a**2b+ 3ab**2

In [80]:
def area_cylinder(r,h):
    area=(2*pi*r*h)+(2*pi*(r**2))
    print("Area of Cylinder: ",area)

In [81]:
def area_trapezoid(a,b,h):
    area=0.5*(a+b)*h
    print("Area of Trapizoid: ",area)

In [82]:
def vol_sphere(r):
    vol=(4/3)*pi*(r**3)
    print("Volume of Sphere: ",vol)

In [112]:
def func(a,b):
    s=(a**3)+(b**3)+(3*(a**2)*b)+(3*(b**2)*a)
    s1 = (a**3)+(b**3)+(3*(((a**2)*b)+((b**2)*a)))
    print("a+b the whole cube: ",s1)

In [113]:
area_cylinder(10,30)
area_trapezoid(3,4,5)
vol_sphere(10)
func(4,5)

Area of Cylinder:  2513.274122872
Area of Trapizoid:  17.5
Volume of Sphere:  4188.790204786666
a+b the whole cube:  729